.typewrite {
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.intro h2, .btn {
  animation: showHidden 7s 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes showHidden {
  0% {
    visibility: hidden;
  }
  60% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header .container {
  background-color: #F9FDFD;
}

.about .container {
  background-color: #fff;
}

.skills .container {
  background-color: #fff;
}

.projects .container {
  background-color: #F9FDFD;
}

footer .container {
  background-color: #9AA3A3;
}

.btn {
  visibility: hidden;
  padding-top: 60px;
}

.btn a {
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px 30px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #000;
}

.intro {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.intro h1 {
  font-size: 40px;
  font-weight: 100;
  margin: 5px 0px;
}

.intro h2 {
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  visibility: hidden;
}

.about_me p {
  width: 40vw;
  display: inline-block;
}

.about_me p:first-child {
  margin-right: 20px;
}

.about_me p:nth-child(2) {
  margin-left: 20px;
}

.btn:nth-of-type(1) {
  visibility: visible;
}

.project {
  display: inline-block;
  height: 400px;
  width: 300px;
  background-color: #5A556C;
}

.container img {
  height: 100px;
  width: auto;
}

.icons {
  display: flex;
  width: 100%;
  align-content: space-between;
  justify-content: space-around;
  align-self: center;
}

.contact {
  text-align: center;
  letter-spacing: 3px;
}

.contact h1 {
  text-transform: uppercase;
  font-size: 30px;
  margin: 5px 0px;
  font-weight: 100;
}

.contact p {
  font-size: 18px;
  font-weight: 100;
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIl90aXRsZS5zY3NzIiwic3R5bGUuc2NzcyIsIl92YXJpYWJsZXMuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFHQSxVQUFVLENBQUM7RUFDUCxRQUFRLEVBQUUsTUFBTTtFQUNoQixZQUFZLEVBQUUsaUJBQWlCO0VBQy9CLFdBQVcsRUFBRSxNQUFNO0VBQ25CLFNBQVMsRUFBRSxNQUFNLENBUEwsRUFBRSxDQU9tQixjQUFjLEVBQUUsV0FBVyxDQUFDLEtBQUksQ0FBQyxRQUFRLENBQUMsUUFBUTtDQUN0Rjs7QUFFRCxVQUFVLENBQVYsTUFBVTtFQUNOLElBQUk7SUFDQSxLQUFLLEVBQUUsQ0FDWDs7RUFDQSxFQUFFO0lBQ0UsS0FBSyxFQUFFLElBQ1g7Ozs7QUFHSixVQUFVLENBQVYsV0FBVTtFQUNOLElBQUk7RUFDSixFQUFFO0lBQ0UsWUFBWSxFQUFFLFdBQ2xCOztFQUNBLEdBQUc7SUFDQyxZQUFZLEVBQUUsS0FBSzs7OztBQUkzQixBQUFPLE1BQUQsQ0FBQyxFQUFFLEVBQUUsSUFBSSxDQUFBO0VBQ1gsU0FBUyxFQUFFLGdCQUFnQjtFQUMzQixtQkFBbUIsRUFBQyxRQUFRO0VBQzVCLHlCQUF5QixFQUFFLENBQUM7Q0FDL0I7O0FBRUQsVUFBVSxDQUFWLFVBQVU7RUFDTixFQUFFO0lBQ0UsVUFBVSxFQUFFLE1BQU07O0VBRXRCLEdBQUc7SUFDQyxVQUFVLEVBQUUsTUFBTTtJQUNsQixPQUFPLEVBQUUsQ0FBQzs7RUFFZCxJQUFJO0lBQ0EsVUFBVSxFQUFFLE9BQU87SUFDbkIsT0FBTyxFQUFFLENBQUM7Ozs7QUMxQ2xCLENBQUMsQ0FBQztFQUNFLFVBQVUsRUFBRSxVQUFVO0NBQ3pCOztBQUVELElBQUksQ0FBQztFQUVELE1BQU0sRUFBRSxNQUFNO0NBQ2pCOztBQUVELFVBQVUsQ0FBQztFQUNQLE1BQU0sRUFBRSxLQUFLO0VBQ2IsT0FBTyxFQUFFLElBQUk7RUFDYixlQUFlLEVBQUUsTUFBTTtFQUN2QixXQUFXLEVBQUUsTUFBTTtFQUNuQixjQUFjLEVBQUUsTUFBTTtDQUN6Qjs7QUFFRCxBQUFPLE1BQUQsQ0FBQyxVQUFVLENBQUM7RUFDZCxnQkFBZ0IsRUNuQkQsT0FBTztDRG9CekI7O0FBRUQsQUFBTyxNQUFELENBQUMsVUFBVSxDQUFDO0VBQ2QsZ0JBQWdCLEVDdEJGLElBQUk7Q0R1QnJCOztBQUVELEFBQVEsT0FBRCxDQUFDLFVBQVUsQ0FBQztFQUNmLGdCQUFnQixFQ3hCRCxJQUFJO0NEeUJ0Qjs7QUFFRCxBQUFVLFNBQUQsQ0FBQyxVQUFVLENBQUM7RUFDakIsZ0JBQWdCLEVDN0JDLE9BQU87Q0Q4QjNCOztBQUVELEFBQU8sTUFBRCxDQUFDLFVBQVUsQ0FBQztFQUNkLGdCQUFnQixFQy9CRCxPQUFPO0NEZ0N6Qjs7QUFFRCxJQUFJLENBQUM7RUFDRCxVQUFVLEVBQUUsTUFBTTtFQUNsQixXQUFXLEVBQUUsSUFBSTtDQVdwQjs7QUFiRCxBQUdJLElBSEEsQ0FHQSxDQUFDLENBQUM7RUFDRSxNQUFNLEVBQUUsSUFBSTtFQUNaLE1BQU0sRUFBRSxlQUFlO0VBQ3ZCLGFBQWEsRUFBRSxHQUFHO0VBQ2xCLE9BQU8sRUFBRSxTQUFTO0VBQ2xCLGVBQWUsRUFBRSxJQUFJO0VBQ3JCLGNBQWMsRUFBRSxTQUFTO0VBQ3pCLGNBQWMsRUFBRSxHQUFHO0VBQ25CLEtBQUssRUFBRSxJQUFJO0NBQ2Q7O0FBR0wsTUFBTSxDQUFDO0VBQ0gsY0FBYyxFQUFFLFNBQVM7RUFDekIsY0FBYyxFQUFFLEdBQUc7Q0FZdEI7O0FBZEQsQUFHSSxNQUhFLENBR0YsRUFBRSxDQUFDO0VBQ0MsU0FBUyxFQUFFLElBQUk7RUFDZixXQUFXLEVBQUUsR0FBRztFQUNoQixNQUFNLEVBQUUsT0FBTztDQUNsQjs7QUFQTCxBQVFJLE1BUkUsQ0FRRixFQUFFLENBQUM7RUFDQyxTQUFTLEVBQUUsSUFBSTtFQUNmLFdBQVcsRUFBRSxHQUFHO0VBQ2hCLFVBQVUsRUFBRSxNQUFNO0VBQ2xCLFVBQVUsRUFBRSxNQUFNO0NBQ3JCOztBQUdMLEFBQVUsU0FBRCxDQUFDLENBQUMsQ0FBQztFQUNSLEtBQUssRUFBRSxJQUFJO0VBQ1gsT0FBTyxFQUFFLFlBQVk7Q0FPeEI7O0FBVEQsQUFBVSxTQUFELENBQUMsQ0FBQyxZQUdNLENBQUM7RUFDVixZQUFZLEVBQUUsSUFBSTtDQUNyQjs7QUFMTCxBQUFVLFNBQUQsQ0FBQyxDQUFDLFVBTUssQ0FBQSxDQUFDLEVBQUU7RUFDWCxXQUFXLEVBQUUsSUFBSTtDQUNwQjs7QUFHTCxJQUFJLFlBQWEsQ0FBQSxDQUFDLEVBQUU7RUFDaEIsVUFBVSxFQUFFLE9BQU87Q0FDdEI7O0FBRUQsUUFBUSxDQUFDO0VBQ0wsT0FBTyxFQUFFLFlBQVk7RUFDckIsTUFBTSxFQUFFLEtBQUs7RUFDYixLQUFLLEVBQUUsS0FBSztFQUNaLGdCQUFnQixFQUFFLE9BQU87Q0FDNUI7O0FBRUQsQUFBVyxVQUFELENBQUMsR0FBRyxDQUFDO0VBQ1gsTUFBTSxFQUFFLEtBQUs7RUFDYixLQUFLLEVBQUUsSUFBSTtDQUNkOztBQUVELE1BQU0sQ0FBQztFQUNILE9BQU8sRUFBRSxJQUFJO0VBQ2IsS0FBSyxFQUFFLElBQUk7RUFDWCxhQUFhLEVBQUUsYUFBYTtFQUM1QixlQUFlLEVBQUUsWUFBWTtFQUM3QixVQUFVLEVBQUUsTUFBTTtDQUNyQjs7QUFFRCxRQUFRLENBQUM7RUFDTCxVQUFVLEVBQUUsTUFBTTtFQUNsQixjQUFjLEVBQUUsR0FBRztDQVd0Qjs7QUFiRCxBQUdJLFFBSEksQ0FHSixFQUFFLENBQUM7RUFDQyxjQUFjLEVBQUUsU0FBUztFQUN6QixTQUFTLEVBQUUsSUFBSTtFQUNmLE1BQU0sRUFBRSxPQUFPO0VBQ2YsV0FBVyxFQUFFLEdBQUc7Q0FDbkI7O0FBUkwsQUFTSSxRQVRJLENBU0osQ0FBQyxDQUFDO0VBQ0UsU0FBUyxFQUFFLElBQUk7RUFDZixXQUFXLEVBQUUsR0FBRztDQUNuQiIsImZpbGUiOiJzdHlsZS5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIkYW5pbWF0aW9uVGltZTogNHM7XHJcblxyXG5cclxuLnR5cGV3cml0ZSB7XHJcbiAgICBvdmVyZmxvdzogaGlkZGVuO1xyXG4gICAgYm9yZGVyLXJpZ2h0OiAuMTVlbSBzb2xpZCBibGFjaztcclxuICAgIHdoaXRlLXNwYWNlOiBub3dyYXA7XHJcbiAgICBhbmltYXRpb246IHR5cGluZyAkYW5pbWF0aW9uVGltZSBzdGVwcyg0MCwgZW5kKSwgYmxpbmstY2FyZXQgLjc1cyBzdGVwLWVuZCBpbmZpbml0ZTtcclxufVxyXG5cclxuQGtleWZyYW1lcyB0eXBpbmcge1xyXG4gICAgZnJvbSB7XHJcbiAgICAgICAgd2lkdGg6IDBcclxuICAgIH1cclxuICAgIHRvIHtcclxuICAgICAgICB3aWR0aDogMTAwJVxyXG4gICAgfVxyXG59XHJcblxyXG5Aa2V5ZnJhbWVzIGJsaW5rLWNhcmV0IHtcclxuICAgIGZyb20sXHJcbiAgICB0byB7XHJcbiAgICAgICAgYm9yZGVyLWNvbG9yOiB0cmFuc3BhcmVudFxyXG4gICAgfVxyXG4gICAgNTAlIHtcclxuICAgICAgICBib3JkZXItY29sb3I6IGJsYWNrO1xyXG4gICAgfVxyXG59XHJcblxyXG4uaW50cm8gaDIsIC5idG57XHJcbiAgICBhbmltYXRpb246IHNob3dIaWRkZW4gN3MgMXM7XHJcbiAgICBhbmltYXRpb24tZmlsbC1tb2RlOmZvcndhcmRzO1xyXG4gICAgYW5pbWF0aW9uLWl0ZXJhdGlvbi1jb3VudDogMTtcclxufVxyXG5cclxuQGtleWZyYW1lcyBzaG93SGlkZGVuIHtcclxuICAgIDAlIHtcclxuICAgICAgICB2aXNpYmlsaXR5OiBoaWRkZW47XHJcbiAgICB9XHJcbiAgICA2MCUge1xyXG4gICAgICAgIHZpc2liaWxpdHk6IGhpZGRlbjtcclxuICAgICAgICBvcGFjaXR5OiAwO1xyXG4gICAgfVxyXG4gICAgMTAwJSB7XHJcbiAgICAgICAgdmlzaWJpbGl0eTogdmlzaWJsZTtcclxuICAgICAgICBvcGFjaXR5OiAxO1xyXG4gICAgfVxyXG59XHJcbiIsIkBpbXBvcnQgXCJ2YXJpYWJsZXNcIjtcclxuQGltcG9ydCBcInRpdGxlXCI7XHJcblxyXG4qIHtcclxuICAgIGJveC1zaXppbmc6IGJvcmRlci1ib3g7XHJcbn1cclxuXHJcbmJvZHkge1xyXG5cclxuICAgIG1hcmdpbjogMCBhdXRvO1xyXG59XHJcblxyXG4uY29udGFpbmVyIHtcclxuICAgIGhlaWdodDogMTAwdmg7XHJcbiAgICBkaXNwbGF5OiBmbGV4O1xyXG4gICAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XHJcbiAgICBhbGlnbi1pdGVtczogY2VudGVyO1xyXG4gICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcclxufVxyXG5cclxuaGVhZGVyIC5jb250YWluZXIge1xyXG4gICAgYmFja2dyb3VuZC1jb2xvcjogJGJhY2tncm91bmRIZWFkZXI7XHJcbn1cclxuXHJcbi5hYm91dCAuY29udGFpbmVyIHtcclxuICAgIGJhY2tncm91bmQtY29sb3I6ICRiYWNrZ3JvdW5kQWJvdXQ7XHJcbn1cclxuXHJcbi5za2lsbHMgLmNvbnRhaW5lciB7XHJcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAkYmFja2dyb3VuZFNraWxscztcclxufVxyXG5cclxuLnByb2plY3RzIC5jb250YWluZXIge1xyXG4gICAgYmFja2dyb3VuZC1jb2xvcjogJGJhY2tncm91bmRQcm9qZWN0cztcclxufVxyXG5cclxuZm9vdGVyIC5jb250YWluZXIge1xyXG4gICAgYmFja2dyb3VuZC1jb2xvcjogJGJhY2tncm91bmRGb290ZXI7XHJcbn1cclxuXHJcbi5idG4ge1xyXG4gICAgdmlzaWJpbGl0eTogaGlkZGVuO1xyXG4gICAgcGFkZGluZy10b3A6IDYwcHg7XHJcbiAgICBhIHtcclxuICAgICAgICBoZWlnaHQ6IGF1dG87XHJcbiAgICAgICAgYm9yZGVyOiAxcHggc29saWQgYmxhY2s7XHJcbiAgICAgICAgYm9yZGVyLXJhZGl1czogNXB4O1xyXG4gICAgICAgIHBhZGRpbmc6IDIwcHggMzBweDtcclxuICAgICAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XHJcbiAgICAgICAgdGV4dC10cmFuc2Zvcm06IHVwcGVyY2FzZTtcclxuICAgICAgICBsZXR0ZXItc3BhY2luZzogM3B4O1xyXG4gICAgICAgIGNvbG9yOiAjMDAwO1xyXG4gICAgfVxyXG59XHJcblxyXG4uaW50cm8ge1xyXG4gICAgdGV4dC10cmFuc2Zvcm06IHVwcGVyY2FzZTtcclxuICAgIGxldHRlci1zcGFjaW5nOiAzcHg7XHJcbiAgICBoMSB7XHJcbiAgICAgICAgZm9udC1zaXplOiA0MHB4O1xyXG4gICAgICAgIGZvbnQtd2VpZ2h0OiAxMDA7XHJcbiAgICAgICAgbWFyZ2luOiA1cHggMHB4O1xyXG4gICAgfVxyXG4gICAgaDIge1xyXG4gICAgICAgIGZvbnQtc2l6ZTogMTZweDtcclxuICAgICAgICBmb250LXdlaWdodDogMTAwO1xyXG4gICAgICAgIHRleHQtYWxpZ246IGNlbnRlcjtcclxuICAgICAgICB2aXNpYmlsaXR5OiBoaWRkZW47XHJcbiAgICB9XHJcbn1cclxuXHJcbi5hYm91dF9tZSBwIHtcclxuICAgIHdpZHRoOiA0MHZ3O1xyXG4gICAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xyXG4gICAgJjpmaXJzdC1jaGlsZCB7XHJcbiAgICAgICAgbWFyZ2luLXJpZ2h0OiAyMHB4O1xyXG4gICAgfVxyXG4gICAgJjpudGgtY2hpbGQoMikge1xyXG4gICAgICAgIG1hcmdpbi1sZWZ0OiAyMHB4O1xyXG4gICAgfVxyXG59XHJcblxyXG4uYnRuOm50aC1vZi10eXBlKDEpIHtcclxuICAgIHZpc2liaWxpdHk6IHZpc2libGU7XHJcbn1cclxuXHJcbi5wcm9qZWN0IHtcclxuICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcclxuICAgIGhlaWdodDogNDAwcHg7XHJcbiAgICB3aWR0aDogMzAwcHg7O1xyXG4gICAgYmFja2dyb3VuZC1jb2xvcjogIzVBNTU2QzsgICBcclxufVxyXG5cclxuLmNvbnRhaW5lciBpbWcge1xyXG4gICAgaGVpZ2h0OiAxMDBweDtcclxuICAgIHdpZHRoOiBhdXRvO1xyXG59XHJcblxyXG4uaWNvbnMge1xyXG4gICAgZGlzcGxheTogZmxleDtcclxuICAgIHdpZHRoOiAxMDAlO1xyXG4gICAgYWxpZ24tY29udGVudDogc3BhY2UtYmV0d2VlbjtcclxuICAgIGp1c3RpZnktY29udGVudDogc3BhY2UtYXJvdW5kO1xyXG4gICAgYWxpZ24tc2VsZjogY2VudGVyO1xyXG59XHJcblxyXG4uY29udGFjdCB7XHJcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XHJcbiAgICBsZXR0ZXItc3BhY2luZzogM3B4O1xyXG4gICAgaDEge1xyXG4gICAgICAgIHRleHQtdHJhbnNmb3JtOiB1cHBlcmNhc2U7XHJcbiAgICAgICAgZm9udC1zaXplOiAzMHB4O1xyXG4gICAgICAgIG1hcmdpbjogNXB4IDBweDtcclxuICAgICAgICBmb250LXdlaWdodDogMTAwO1xyXG4gICAgfVxyXG4gICAgcCB7XHJcbiAgICAgICAgZm9udC1zaXplOiAxOHB4O1xyXG4gICAgICAgIGZvbnQtd2VpZ2h0OiAxMDA7XHJcbiAgICB9XHJcbn0iLCIkbWFpbkZvbnQ6IEdlb3JnaWEsIFwiVGltZXMgTmV3IFJvbWFuXCIsIHNlcmlmO1xyXG5cclxuJGJhY2tncm91bmRIZWFkZXI6ICNGOUZERkQ7XHJcbiRiYWNrZ3JvdW5kQWJvdXQ6ICNmZmY7XHJcbiRiYWNrZ3JvdW5kUHJvamVjdHM6ICNGOUZERkQ7XHJcbiRiYWNrZ3JvdW5kU2tpbGxzOiAjZmZmO1xyXG4kYmFja2dyb3VuZEZvb3RlcjogIzlBQTNBMzsiXX0= */
