.typewrite {
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #FF7400;
  }
}

.intro h2, .btn {
  animation: showHidden 6s 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes showHidden {
  0% {
    visibility: hidden;
  }
  60% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.my_works {
  display: flex;
  width: 100%;
  height: 500px;
  align-content: center;
  justify-content: space-around;
}

.project {
  width: 300px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
}

.pro_image img {
  height: 200px;
  width: auto;
}

.pro_image {
  height: 70%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pro_about {
  color: #3E3E3E;
  height: 30%;
  padding: 0 20px;
  background-color: #fff;
}

.pro_about h3 {
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 0.5em 0;
}

#p1 .pro_image {
  background-color: #FC008F;
}

#p1 .pro_image:hover {
  opacity: 0.2;
}

#p1 h3:hover {
  color: #FC008F;
}

#p2 .pro_image {
  background-color: #FF7400;
}

#p2 .pro_image:hover {
  opacity: 0.2;
}

#p2 h3:hover {
  color: #FF7400;
}

#p3 .pro_image {
  background-color: #FF192F;
}

#p3 .pro_image:hover {
  opacity: 0.2;
}

#p3 h3:hover {
  color: #FF192F;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header .container {
  background-color: #fff;
}

.about .container {
  background-color: #E6E3E3;
}

.cv .container {
  background-color: #fff;
}

.projects .container {
  background-color: #E6E3E3;
}

footer .container {
  background-color: #fff;
}

.btn {
  visibility: hidden;
  padding-top: 60px;
}

.btn a {
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px 30px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #000;
}

.intro {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.intro h1 {
  font-size: 40px;
  font-weight: 100;
  margin: 5px 0px;
}

.intro h2 {
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  visibility: hidden;
}

.intro h2:hover {
  color: #FF7400;
}

.button-container {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 40px;
}

.cv-flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.skills,
.education {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  height: 500px;
  padding: 100px;
}

.skills h4,
.education h4 {
  color: #3E3E3E;
}

.cv-title {
  width: 30%;
  color: #E6E3E3;
  font-size: 60px;
}

.cv-list {
  display: inherit;
  width: 60%;
  color: #3E3E3E;
}

.cv-list h4 {
  font-size: 20px;
  margin: 5px 0;
  background: #E6E3E3;
}

.cv-list p,
.cv-list ul {
  font-size: 16px;
}

.cv-list-inline {
  width: 50%;
  display: inline-block;
  padding: 30px;
}

.about_me p {
  width: 40vw;
  display: inline-block;
}

.about_me p:first-child {
  margin-right: 20px;
}

.about_me p:nth-child(2) {
  margin-left: 20px;
}

.contact {
  text-align: center;
  letter-spacing: 3px;
}

.contact h1 {
  text-transform: uppercase;
  font-size: 30px;
  margin: 5px 0px;
  font-weight: 100;
}

.contact p {
  font-size: 18px;
  font-weight: 100;
}

.contact p:hover {
  color: #FC008F;
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIl90aXRsZS5zY3NzIiwiX3ZhcmlhYmxlcy5zY3NzIiwiX3Byb2plY3RzLnNjc3MiLCJzdHlsZS5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUdBLFVBQVUsQ0FBQztFQUNQLFFBQVEsRUFBRSxNQUFNO0VBQ2hCLFlBQVksRUFBRSxpQkFBaUI7RUFDL0IsV0FBVyxFQUFFLE1BQU07RUFDbkIsU0FBUyxFQUFFLE1BQU0sQ0FQTCxFQUFFLENBT21CLGNBQWMsRUFBRSxXQUFXLENBQUMsS0FBSSxDQUFDLFFBQVEsQ0FBQyxRQUFRO0NBQ3RGOztBQUVELFVBQVUsQ0FBVixNQUFVO0VBQ04sSUFBSTtJQUNBLEtBQUssRUFBRSxDQUNYOztFQUNBLEVBQUU7SUFDRSxLQUFLLEVBQUUsSUFDWDs7OztBQUdKLFVBQVUsQ0FBVixXQUFVO0VBQ04sSUFBSTtFQUNKLEVBQUU7SUFDRSxZQUFZLEVBQUUsV0FDbEI7O0VBQ0EsR0FBRztJQUNDLFlBQVksRUNmQSxPQUFPOzs7O0FEbUIzQixBQUFPLE1BQUQsQ0FBQyxFQUFFLEVBQUUsSUFBSSxDQUFDO0VBQ1osU0FBUyxFQUFFLGdCQUFnQjtFQUMzQixtQkFBbUIsRUFBQyxRQUFRO0VBQzVCLHlCQUF5QixFQUFFLENBQUM7Q0FDL0I7O0FBRUQsVUFBVSxDQUFWLFVBQVU7RUFDTixFQUFFO0lBQ0UsVUFBVSxFQUFFLE1BQU07O0VBRXRCLEdBQUc7SUFDQyxVQUFVLEVBQUUsTUFBTTtJQUNsQixPQUFPLEVBQUUsQ0FBQzs7RUFFZCxJQUFJO0lBQ0EsVUFBVSxFQUFFLE9BQU87SUFDbkIsT0FBTyxFQUFFLENBQUM7Ozs7QUU3Q2xCLFNBQVMsQ0FBQztFQUNOLE9BQU8sRUFBRSxJQUFJO0VBQ2IsS0FBSyxFQUFFLElBQUk7RUFDWCxNQUFNLEVBQUUsS0FBSztFQUNiLGFBQWEsRUFBRSxNQUFNO0VBQ3JCLGVBQWUsRUFBRSxZQUFZO0NBQ2hDOztBQUVELFFBQVEsQ0FBQztFQUNMLEtBQUssRUFBRSxLQUFLO0VBQ1osa0JBQWtCLEVBQUUsSUFBSSxDQUFDLElBQUksQ0FBQyxHQUFHLENBQUMsR0FBRyxDQUFDLG1CQUFtQjtFQUN6RCxlQUFlLEVBQUUsSUFBSSxDQUFDLElBQUksQ0FBQyxHQUFHLENBQUMsR0FBRyxDQUFDLG1CQUFtQjtFQUN0RCxVQUFVLEVBQUUsSUFBSSxDQUFDLElBQUksQ0FBQyxHQUFHLENBQUMsR0FBRyxDQUFDLG1CQUFtQjtDQUNwRDs7QUFFRCxBQUFXLFVBQUQsQ0FBQyxHQUFHLENBQUM7RUFDWCxNQUFNLEVBQUUsS0FBSztFQUNiLEtBQUssRUFBRSxJQUFJO0NBQ2Q7O0FBRUQsVUFBVSxDQUFDO0VBQ1AsTUFBTSxFQUFFLEdBQUc7RUFDWCxLQUFLLEVBQUUsSUFBSTtFQUNYLE9BQU8sRUFBRSxJQUFJO0VBQ2IsZUFBZSxFQUFFLE1BQU07RUFDdkIsV0FBVyxFQUFFLE1BQU07Q0FDdEI7O0FBRUQsVUFBVSxDQUFDO0VBQ1AsS0FBSyxFQUFFLE9BQU87RUFDZCxNQUFNLEVBQUUsR0FBRztFQUNYLE9BQU8sRUFBRSxNQUFNO0VBQ2YsZ0JBQWdCLEVBQUUsSUFBSTtDQU16Qjs7QUFWRCxBQUtJLFVBTE0sQ0FLTixFQUFFLENBQUM7RUFDQyxXQUFXLEVEakNBLGdCQUFnQjtFQ2tDM0IsTUFBTSxFQUFFLENBQUM7RUFDVCxPQUFPLEVBQUUsT0FBTztDQUNuQjs7QUFHTCxBQUNJLEdBREQsQ0FDQyxVQUFVLENBQUM7RUFDUCxnQkFBZ0IsRURqQ0osT0FBTztDQ3FDdEI7O0FBTkwsQUFDSSxHQURELENBQ0MsVUFBVSxNQUVDLENBQUM7RUFDSixPQUFPLEVBQUUsR0FBRztDQUNmOztBQUxULEFBT0ksR0FQRCxDQU9DLEVBQUUsTUFBTSxDQUFDO0VBQ0wsS0FBSyxFRHZDTyxPQUFPO0NDd0N0Qjs7QUFHTCxBQUNJLEdBREQsQ0FDQyxVQUFVLENBQUM7RUFDUCxnQkFBZ0IsRUQ1Q0osT0FBTztDQ2dEdEI7O0FBTkwsQUFDSSxHQURELENBQ0MsVUFBVSxNQUVDLENBQUM7RUFDSixPQUFPLEVBQUUsR0FBRztDQUNmOztBQUxULEFBT0ksR0FQRCxDQU9DLEVBQUUsTUFBTSxDQUFDO0VBQ0wsS0FBSyxFRGxETyxPQUFPO0NDbUR0Qjs7QUFHTCxBQUNJLEdBREQsQ0FDQyxVQUFVLENBQUM7RUFDUCxnQkFBZ0IsRUR2REosT0FBTztDQzJEdEI7O0FBTkwsQUFDSSxHQURELENBQ0MsVUFBVSxNQUVDLENBQUM7RUFDSixPQUFPLEVBQUUsR0FBRztDQUNmOztBQUxULEFBT0ksR0FQRCxDQU9DLEVBQUUsTUFBTSxDQUFDO0VBQ0wsS0FBSyxFRDdETyxPQUFPO0NDOER0Qjs7QUN0RUwsQ0FBQyxDQUFDO0VBQ0UsVUFBVSxFQUFFLFVBQVU7Q0FDekI7O0FBRUQsSUFBSSxDQUFDO0VBQ0QsTUFBTSxFQUFFLE1BQU07Q0FDakI7O0FBRUQsVUFBVSxDQUFDO0VBQ1AsTUFBTSxFQUFFLEtBQUs7RUFDYixPQUFPLEVBQUUsSUFBSTtFQUNiLGVBQWUsRUFBRSxNQUFNO0VBQ3ZCLFdBQVcsRUFBRSxNQUFNO0VBQ25CLGNBQWMsRUFBRSxNQUFNO0NBQ3pCOztBQUVELEFBQU8sTUFBRCxDQUFDLFVBQVUsQ0FBQztFQUNkLGdCQUFnQixFRmpCRCxJQUFJO0NFa0J0Qjs7QUFFRCxBQUFPLE1BQUQsQ0FBQyxVQUFVLENBQUM7RUFDZCxnQkFBZ0IsRUZwQkYsT0FBTztDRXFCeEI7O0FBRUQsQUFBSSxHQUFELENBQUMsVUFBVSxDQUFDO0VBQ1gsZ0JBQWdCLEVGdkJMLElBQUk7Q0V3QmxCOztBQUVELEFBQVUsU0FBRCxDQUFDLFVBQVUsQ0FBQztFQUNqQixnQkFBZ0IsRUYxQkMsT0FBTztDRTJCM0I7O0FBRUQsQUFBTyxNQUFELENBQUMsVUFBVSxDQUFDO0VBQ2QsZ0JBQWdCLEVGN0JELElBQUk7Q0U4QnRCOztBQUVELElBQUksQ0FBQztFQUNELFVBQVUsRUFBRSxNQUFNO0VBQ2xCLFdBQVcsRUFBRSxJQUFJO0NBV3BCOztBQWJELEFBR0ksSUFIQSxDQUdBLENBQUMsQ0FBQztFQUNFLE1BQU0sRUFBRSxJQUFJO0VBQ1osTUFBTSxFQUFFLGVBQWU7RUFDdkIsYUFBYSxFQUFFLEdBQUc7RUFDbEIsT0FBTyxFQUFFLFNBQVM7RUFDbEIsZUFBZSxFQUFFLElBQUk7RUFDckIsY0FBYyxFQUFFLFNBQVM7RUFDekIsY0FBYyxFQUFFLEdBQUc7RUFDbkIsS0FBSyxFQUFFLElBQUk7Q0FDZDs7QUFHTCxNQUFNLENBQUM7RUFDSCxjQUFjLEVBQUUsU0FBUztFQUN6QixjQUFjLEVBQUUsR0FBRztDQWV0Qjs7QUFqQkQsQUFHSSxNQUhFLENBR0YsRUFBRSxDQUFDO0VBQ0MsU0FBUyxFQUFFLElBQUk7RUFDZixXQUFXLEVBQUUsR0FBRztFQUNoQixNQUFNLEVBQUUsT0FBTztDQUNsQjs7QUFQTCxBQVFJLE1BUkUsQ0FRRixFQUFFLENBQUM7RUFDQyxTQUFTLEVBQUUsSUFBSTtFQUNmLFdBQVcsRUFBRSxHQUFHO0VBQ2hCLFVBQVUsRUFBRSxNQUFNO0VBQ2xCLFVBQVUsRUFBRSxNQUFNO0NBSXJCOztBQWhCTCxBQVFJLE1BUkUsQ0FRRixFQUFFLE1BS1MsQ0FBQztFQUNKLEtBQUssRUYxREcsT0FBTztDRTJEbEI7O0FBSVQsaUJBQWlCLENBQUM7RUFDZCxLQUFLLEVBQUUsR0FBRztFQUNWLE9BQU8sRUFBRSxJQUFJO0VBQ2IsY0FBYyxFQUFFLEdBQUc7RUFDbkIsZUFBZSxFQUFFLFlBQVk7RUFDN0IsV0FBVyxFQUFFLElBQUk7Q0FDcEI7O0FBQ0QsUUFBUSxDQUFDO0VBQ0wsS0FBSyxFQUFFLElBQUk7RUFDWCxPQUFPLEVBQUUsSUFBSTtFQUNiLGNBQWMsRUFBRSxNQUFNO0VBQ3RCLGVBQWUsRUFBRSxZQUFZO0NBQ2hDOztBQUNELE9BQU87QUFDUCxVQUFVLENBQUM7RUFDUCxPQUFPLEVBQUUsSUFBSTtFQUNiLEtBQUssRUFBRSxJQUFJO0VBQ1gsY0FBYyxFQUFFLEdBQUc7RUFDbkIsZUFBZSxFQUFFLFlBQVk7RUFDN0IsV0FBVyxFQUFFLFFBQVE7RUFDckIsTUFBTSxFQUFFLEtBQUs7RUFDYixPQUFPLEVBQUUsS0FBSztDQUlqQjs7QUFaRCxBQVNJLE9BVEcsQ0FTSCxFQUFFO0FBUk4sQUFRSSxVQVJNLENBUU4sRUFBRSxDQUFDO0VBQ0MsS0FBSyxFQUFFLE9BQU87Q0FDakI7O0FBRUwsU0FBUyxDQUFDO0VBQ04sS0FBSyxFQUFFLEdBQUc7RUFDVixLQUFLLEVBQUUsT0FBTztFQUNkLFNBQVMsRUFBRSxJQUFJO0NBQ2xCOztBQUNELFFBQVEsQ0FBQztFQUNMLE9BQU8sRUFBRSxPQUFPO0VBQ2hCLEtBQUssRUFBRSxHQUFHO0VBQ1YsS0FBSyxFQUFFLE9BQU87Q0FXakI7O0FBZEQsQUFJSSxRQUpJLENBSUosRUFBRSxDQUFDO0VBQ0MsU0FBUyxFQUFFLElBQUk7RUFDZixNQUFNLEVBQUUsS0FBSztFQUNiLFVBQVUsRUFBRSxPQUFPO0NBQ3RCOztBQVJMLEFBVUksUUFWSSxDQVVKLENBQUM7QUFWTCxBQVdJLFFBWEksQ0FXSixFQUFFLENBQUM7RUFDQyxTQUFTLEVBQUUsSUFBSTtDQUNsQjs7QUFFTCxlQUFlLENBQUM7RUFDWixLQUFLLEVBQUUsR0FBRztFQUNWLE9BQU8sRUFBRSxZQUFZO0VBQ3JCLE9BQU8sRUFBRSxJQUFJO0NBQ2hCOztBQUNELEFBQVUsU0FBRCxDQUFDLENBQUMsQ0FBQztFQUNSLEtBQUssRUFBRSxJQUFJO0VBQ1gsT0FBTyxFQUFFLFlBQVk7Q0FReEI7O0FBVkQsQUFBVSxTQUFELENBQUMsQ0FBQyxZQUdNLENBQUM7RUFDVixZQUFZLEVBQUUsSUFBSTtDQUNyQjs7QUFMTCxBQUFVLFNBQUQsQ0FBQyxDQUFDLFVBT0ssQ0FBQSxDQUFDLEVBQUU7RUFDWCxXQUFXLEVBQUUsSUFBSTtDQUNwQjs7QUFFTCxRQUFRLENBQUM7RUFDTCxVQUFVLEVBQUUsTUFBTTtFQUNsQixjQUFjLEVBQUUsR0FBRztDQWV0Qjs7QUFqQkQsQUFHSSxRQUhJLENBR0osRUFBRSxDQUFDO0VBQ0MsY0FBYyxFQUFFLFNBQVM7RUFDekIsU0FBUyxFQUFFLElBQUk7RUFDZixNQUFNLEVBQUUsT0FBTztFQUNmLFdBQVcsRUFBRSxHQUFHO0NBQ25COztBQVJMLEFBVUksUUFWSSxDQVVKLENBQUMsQ0FBQztFQUNFLFNBQVMsRUFBRSxJQUFJO0VBQ2YsV0FBVyxFQUFFLEdBQUc7Q0FJbkI7O0FBaEJMLEFBVUksUUFWSSxDQVVKLENBQUMsTUFHVSxDQUFDO0VBQ0osS0FBSyxFRjVJRyxPQUFPO0NFNklsQiIsImZpbGUiOiJzdHlsZS5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIkYW5pbWF0aW9uVGltZTogNHM7XHJcblxyXG5cclxuLnR5cGV3cml0ZSB7XHJcbiAgICBvdmVyZmxvdzogaGlkZGVuO1xyXG4gICAgYm9yZGVyLXJpZ2h0OiAuMTVlbSBzb2xpZCBibGFjaztcclxuICAgIHdoaXRlLXNwYWNlOiBub3dyYXA7XHJcbiAgICBhbmltYXRpb246IHR5cGluZyAkYW5pbWF0aW9uVGltZSBzdGVwcyg0MCwgZW5kKSwgYmxpbmstY2FyZXQgLjc1cyBzdGVwLWVuZCBpbmZpbml0ZTtcclxufVxyXG5cclxuQGtleWZyYW1lcyB0eXBpbmcge1xyXG4gICAgZnJvbSB7XHJcbiAgICAgICAgd2lkdGg6IDBcclxuICAgIH1cclxuICAgIHRvIHtcclxuICAgICAgICB3aWR0aDogMTAwJVxyXG4gICAgfVxyXG59XHJcblxyXG5Aa2V5ZnJhbWVzIGJsaW5rLWNhcmV0IHtcclxuICAgIGZyb20sXHJcbiAgICB0byB7XHJcbiAgICAgICAgYm9yZGVyLWNvbG9yOiB0cmFuc3BhcmVudFxyXG4gICAgfVxyXG4gICAgNTAlIHtcclxuICAgICAgICBib3JkZXItY29sb3I6ICRiYWNrZ3JvdW5kTXlXb3JrMjtcclxuICAgIH1cclxufVxyXG5cclxuLmludHJvIGgyLCAuYnRuIHtcclxuICAgIGFuaW1hdGlvbjogc2hvd0hpZGRlbiA2cyAxcztcclxuICAgIGFuaW1hdGlvbi1maWxsLW1vZGU6Zm9yd2FyZHM7XHJcbiAgICBhbmltYXRpb24taXRlcmF0aW9uLWNvdW50OiAxO1xyXG59XHJcblxyXG5Aa2V5ZnJhbWVzIHNob3dIaWRkZW4ge1xyXG4gICAgMCUge1xyXG4gICAgICAgIHZpc2liaWxpdHk6IGhpZGRlbjtcclxuICAgIH1cclxuICAgIDYwJSB7XHJcbiAgICAgICAgdmlzaWJpbGl0eTogaGlkZGVuO1xyXG4gICAgICAgIG9wYWNpdHk6IDA7XHJcbiAgICB9XHJcbiAgICAxMDAlIHtcclxuICAgICAgICB2aXNpYmlsaXR5OiB2aXNpYmxlO1xyXG4gICAgICAgIG9wYWNpdHk6IDE7XHJcbiAgICB9XHJcbn1cclxuIiwiJG1haW5Gb250OiBHZW9yZ2lhLCBcIlRpbWVzIE5ldyBSb21hblwiLCBzZXJpZjtcclxuJHByb2plY3RUaXRsZUZvbnQ6IExhdG8sIHNhbnMtc2VyaWY7XHJcblxyXG4kYmFja2dyb3VuZEhlYWRlcjogI2ZmZjtcclxuJGJhY2tncm91bmRBYm91dDogI0U2RTNFMztcclxuJGJhY2tncm91bmRDdjogI2ZmZjtcclxuJGJhY2tncm91bmRQcm9qZWN0czogI0U2RTNFMztcclxuJGJhY2tncm91bmRGb290ZXI6ICNmZmY7XHJcblxyXG4kYmFja2dyb3VuZE15V29yazE6ICNGQzAwOEY7XHJcbiRiYWNrZ3JvdW5kTXlXb3JrMjogI0ZGNzQwMDtcclxuJGJhY2tncm91bmRNeVdvcmszOiAjRkYxOTJGO1xyXG5cclxuIiwiLm15X3dvcmtzIHtcclxuICAgIGRpc3BsYXk6IGZsZXg7XHJcbiAgICB3aWR0aDogMTAwJTtcclxuICAgIGhlaWdodDogNTAwcHg7XHJcbiAgICBhbGlnbi1jb250ZW50OiBjZW50ZXI7XHJcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWFyb3VuZDtcclxufVxyXG5cclxuLnByb2plY3Qge1xyXG4gICAgd2lkdGg6IDMwMHB4O1xyXG4gICAgLXdlYmtpdC1ib3gtc2hhZG93OiAxMHB4IDEwcHggNXB4IDBweCByZ2JhKDAsIDAsIDAsIDAuMjUpO1xyXG4gICAgLW1vei1ib3gtc2hhZG93OiAxMHB4IDEwcHggNXB4IDBweCByZ2JhKDAsIDAsIDAsIDAuMjUpO1xyXG4gICAgYm94LXNoYWRvdzogMTBweCAxMHB4IDVweCAwcHggcmdiYSgwLCAwLCAwLCAwLjI1KTtcclxufVxyXG5cclxuLnByb19pbWFnZSBpbWcge1xyXG4gICAgaGVpZ2h0OiAyMDBweDtcclxuICAgIHdpZHRoOiBhdXRvO1xyXG59XHJcblxyXG4ucHJvX2ltYWdlIHtcclxuICAgIGhlaWdodDogNzAlO1xyXG4gICAgY29sb3I6ICNmZmY7XHJcbiAgICBkaXNwbGF5OiBmbGV4O1xyXG4gICAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XHJcbiAgICBhbGlnbi1pdGVtczogY2VudGVyO1xyXG59XHJcblxyXG4ucHJvX2Fib3V0IHtcclxuICAgIGNvbG9yOiAjM0UzRTNFO1xyXG4gICAgaGVpZ2h0OiAzMCU7XHJcbiAgICBwYWRkaW5nOiAwIDIwcHg7XHJcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjZmZmO1xyXG4gICAgaDMge1xyXG4gICAgICAgIGZvbnQtZmFtaWx5OiAkcHJvamVjdFRpdGxlRm9udDtcclxuICAgICAgICBtYXJnaW46IDA7XHJcbiAgICAgICAgcGFkZGluZzogMC41ZW0gMDtcclxuICAgIH1cclxufVxyXG5cclxuI3AxIHtcclxuICAgIC5wcm9faW1hZ2Uge1xyXG4gICAgICAgIGJhY2tncm91bmQtY29sb3I6ICRiYWNrZ3JvdW5kTXlXb3JrMTtcclxuICAgICAgICAmOmhvdmVyIHtcclxuICAgICAgICAgICAgb3BhY2l0eTogMC4yO1xyXG4gICAgICAgIH1cclxuICAgIH1cclxuICAgIGgzOmhvdmVyIHtcclxuICAgICAgICBjb2xvcjogJGJhY2tncm91bmRNeVdvcmsxO1xyXG4gICAgfVxyXG59XHJcblxyXG4jcDIge1xyXG4gICAgLnByb19pbWFnZSB7XHJcbiAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogJGJhY2tncm91bmRNeVdvcmsyO1xyXG4gICAgICAgICY6aG92ZXIge1xyXG4gICAgICAgICAgICBvcGFjaXR5OiAwLjI7XHJcbiAgICAgICAgfVxyXG4gICAgfVxyXG4gICAgaDM6aG92ZXIge1xyXG4gICAgICAgIGNvbG9yOiAkYmFja2dyb3VuZE15V29yazI7XHJcbiAgICB9XHJcbn1cclxuXHJcbiNwMyB7XHJcbiAgICAucHJvX2ltYWdlIHtcclxuICAgICAgICBiYWNrZ3JvdW5kLWNvbG9yOiAkYmFja2dyb3VuZE15V29yazM7XHJcbiAgICAgICAgJjpob3ZlciB7XHJcbiAgICAgICAgICAgIG9wYWNpdHk6IDAuMjtcclxuICAgICAgICB9XHJcbiAgICB9XHJcbiAgICBoMzpob3ZlciB7XHJcbiAgICAgICAgY29sb3I6ICRiYWNrZ3JvdW5kTXlXb3JrMztcclxuICAgIH1cclxufSIsIkBpbXBvcnQgXCJ2YXJpYWJsZXNcIjtcclxuQGltcG9ydCBcInRpdGxlXCI7XHJcbkBpbXBvcnQgXCJwcm9qZWN0c1wiO1xyXG4qIHtcclxuICAgIGJveC1zaXppbmc6IGJvcmRlci1ib3g7XHJcbn1cclxuXHJcbmJvZHkge1xyXG4gICAgbWFyZ2luOiAwIGF1dG87XHJcbn1cclxuXHJcbi5jb250YWluZXIge1xyXG4gICAgaGVpZ2h0OiAxMDB2aDtcclxuICAgIGRpc3BsYXk6IGZsZXg7XHJcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjtcclxuICAgIGFsaWduLWl0ZW1zOiBjZW50ZXI7XHJcbiAgICBmbGV4LWRpcmVjdGlvbjogY29sdW1uO1xyXG59XHJcblxyXG5oZWFkZXIgLmNvbnRhaW5lciB7XHJcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAkYmFja2dyb3VuZEhlYWRlcjtcclxufVxyXG5cclxuLmFib3V0IC5jb250YWluZXIge1xyXG4gICAgYmFja2dyb3VuZC1jb2xvcjogJGJhY2tncm91bmRBYm91dDtcclxufVxyXG5cclxuLmN2IC5jb250YWluZXIge1xyXG4gICAgYmFja2dyb3VuZC1jb2xvcjogJGJhY2tncm91bmRDdjtcclxufVxyXG5cclxuLnByb2plY3RzIC5jb250YWluZXIge1xyXG4gICAgYmFja2dyb3VuZC1jb2xvcjogJGJhY2tncm91bmRQcm9qZWN0cztcclxufVxyXG5cclxuZm9vdGVyIC5jb250YWluZXIge1xyXG4gICAgYmFja2dyb3VuZC1jb2xvcjogJGJhY2tncm91bmRGb290ZXI7XHJcbn1cclxuXHJcbi5idG4ge1xyXG4gICAgdmlzaWJpbGl0eTogaGlkZGVuO1xyXG4gICAgcGFkZGluZy10b3A6IDYwcHg7XHJcbiAgICBhIHtcclxuICAgICAgICBoZWlnaHQ6IGF1dG87XHJcbiAgICAgICAgYm9yZGVyOiAxcHggc29saWQgYmxhY2s7XHJcbiAgICAgICAgYm9yZGVyLXJhZGl1czogNXB4O1xyXG4gICAgICAgIHBhZGRpbmc6IDIwcHggMzBweDtcclxuICAgICAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XHJcbiAgICAgICAgdGV4dC10cmFuc2Zvcm06IHVwcGVyY2FzZTtcclxuICAgICAgICBsZXR0ZXItc3BhY2luZzogM3B4O1xyXG4gICAgICAgIGNvbG9yOiAjMDAwO1xyXG4gICAgfVxyXG59XHJcblxyXG4uaW50cm8ge1xyXG4gICAgdGV4dC10cmFuc2Zvcm06IHVwcGVyY2FzZTtcclxuICAgIGxldHRlci1zcGFjaW5nOiAzcHg7XHJcbiAgICBoMSB7XHJcbiAgICAgICAgZm9udC1zaXplOiA0MHB4O1xyXG4gICAgICAgIGZvbnQtd2VpZ2h0OiAxMDA7XHJcbiAgICAgICAgbWFyZ2luOiA1cHggMHB4O1xyXG4gICAgfVxyXG4gICAgaDIge1xyXG4gICAgICAgIGZvbnQtc2l6ZTogMTZweDtcclxuICAgICAgICBmb250LXdlaWdodDogMTAwO1xyXG4gICAgICAgIHRleHQtYWxpZ246IGNlbnRlcjtcclxuICAgICAgICB2aXNpYmlsaXR5OiBoaWRkZW47XHJcbiAgICAgICAgJjpob3ZlciB7XHJcbiAgICAgICAgICAgIGNvbG9yOiAkYmFja2dyb3VuZE15V29yazI7XHJcbiAgICAgICAgfVxyXG4gICAgfVxyXG59XHJcblxyXG4uYnV0dG9uLWNvbnRhaW5lciB7XHJcbiAgICB3aWR0aDogNzAlO1xyXG4gICAgZGlzcGxheTogZmxleDtcclxuICAgIGZsZXgtZGlyZWN0aW9uOiByb3c7XHJcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWFyb3VuZDtcclxuICAgIHBhZGRpbmctdG9wOiA0MHB4O1xyXG59XHJcbi5jdi1mbGV4IHtcclxuICAgIHdpZHRoOiAxMDAlO1xyXG4gICAgZGlzcGxheTogZmxleDtcclxuICAgIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XHJcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWFyb3VuZDtcclxufVxyXG4uc2tpbGxzLFxyXG4uZWR1Y2F0aW9uIHtcclxuICAgIGRpc3BsYXk6IGZsZXg7XHJcbiAgICB3aWR0aDogMTAwJTtcclxuICAgIGZsZXgtZGlyZWN0aW9uOiByb3c7XHJcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWFyb3VuZDtcclxuICAgIGFsaWduLWl0ZW1zOiBiYXNlbGluZTtcclxuICAgIGhlaWdodDogNTAwcHg7XHJcbiAgICBwYWRkaW5nOiAxMDBweDtcclxuICAgIGg0IHtcclxuICAgICAgICBjb2xvcjogIzNFM0UzRTtcclxuICAgIH1cclxufVxyXG4uY3YtdGl0bGUge1xyXG4gICAgd2lkdGg6IDMwJTtcclxuICAgIGNvbG9yOiAjRTZFM0UzO1xyXG4gICAgZm9udC1zaXplOiA2MHB4O1xyXG59XHJcbi5jdi1saXN0IHtcclxuICAgIGRpc3BsYXk6IGluaGVyaXQ7XHJcbiAgICB3aWR0aDogNjAlO1xyXG4gICAgY29sb3I6ICMzRTNFM0U7XHJcbiAgICBoNCB7XHJcbiAgICAgICAgZm9udC1zaXplOiAyMHB4O1xyXG4gICAgICAgIG1hcmdpbjogNXB4IDA7XHJcbiAgICAgICAgYmFja2dyb3VuZDogI0U2RTNFMztcclxuICAgIH1cclxuICAgIFxyXG4gICAgcCxcclxuICAgIHVsIHtcclxuICAgICAgICBmb250LXNpemU6IDE2cHg7XHJcbiAgICB9XHJcbn1cclxuLmN2LWxpc3QtaW5saW5lIHtcclxuICAgIHdpZHRoOiA1MCU7XHJcbiAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XHJcbiAgICBwYWRkaW5nOiAzMHB4O1xyXG59XHJcbi5hYm91dF9tZSBwIHtcclxuICAgIHdpZHRoOiA0MHZ3O1xyXG4gICAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xyXG4gICAgJjpmaXJzdC1jaGlsZCB7XHJcbiAgICAgICAgbWFyZ2luLXJpZ2h0OiAyMHB4O1xyXG4gICAgfVxyXG4gICAgXHJcbiAgICAmOm50aC1jaGlsZCgyKSB7XHJcbiAgICAgICAgbWFyZ2luLWxlZnQ6IDIwcHg7XHJcbiAgICB9XHJcbn1cclxuLmNvbnRhY3Qge1xyXG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xyXG4gICAgbGV0dGVyLXNwYWNpbmc6IDNweDtcclxuICAgIGgxIHtcclxuICAgICAgICB0ZXh0LXRyYW5zZm9ybTogdXBwZXJjYXNlO1xyXG4gICAgICAgIGZvbnQtc2l6ZTogMzBweDtcclxuICAgICAgICBtYXJnaW46IDVweCAwcHg7XHJcbiAgICAgICAgZm9udC13ZWlnaHQ6IDEwMDtcclxuICAgIH1cclxuICAgIFxyXG4gICAgcCB7XHJcbiAgICAgICAgZm9udC1zaXplOiAxOHB4O1xyXG4gICAgICAgIGZvbnQtd2VpZ2h0OiAxMDA7XHJcbiAgICAgICAgJjpob3ZlciB7XHJcbiAgICAgICAgICAgIGNvbG9yOiAkYmFja2dyb3VuZE15V29yazE7XHJcbiAgICAgICAgfVxyXG4gICAgfVxyXG59Il19 */
