.cv-flex {
    @include mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    @include medium {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        padding: 30px;
    }
}

.education_and_skills {
    @include mobile {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 50px;
        p,
        ul {
            display: none;
        }
        h4 {
            color: $cvMainColor;
            white-space: nowrap;
            background: $cvElements;
        }
    }
    @include medium {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: baseline;
        height: 500px;
        padding-left: 50px;
        h4 {
            color: $cvMainColor;
            white-space: nowrap;
            background: $cvElements;
        }
    }
    @include desktop {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        h4 {
            color: $cvMainColor;
            white-space: nowrap;
            background: $cvElements;
        }
    }
}
.cv-title {
    color: $cvElements;
    font-size: 60px;
    padding-top: 10px;
    
}
.cv-list {
    @include desktop {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        width: 60%;
        color: $cvMainColor;
        h4 {
            font-size: 20px;
            margin: 5px 0;
           
        }
        p,
        ul {
            font-size: 16px;
        }
    }
}

.list_visible {
    display: block !important;
}