.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    &.p1 {
        background: url("../img/rower.JPG");
    }
    &.p2 {
        background-image: url("../img/wroclaw.JPG");
    }
    &.p3 {
        background-image: url("../img/niebo.JPG"); 
    }
}

