$mainFont: Georgia, "Times New Roman", serif;
$projectTitleFont: Lato, sans-serif;

$backgroundHeader: #fff;
$backgroundAbout: #E6E3E3;
$backgroundCv: #fff;
$backgroundProjects: #E6E3E3;
$backgroundFooter: #fff;

$backgroundMyWork1: #FC008F;
$backgroundMyWork2: #FF7400;
$backgroundMyWork3: #FF192F;

