@import "prefixes";
@import "variables";
@import "media-queries";
@import "title";
@import "cv";
@import "projects";
@import "nav";
@import "parallax";


* {
    @include box-sizing(border-box);
}

body {
    margin: 0 auto;
}

body, html {
    height: 100%;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header .container {
    background-color: $backgroundHeader;
}

.about .container {
    background-color: $backgroundAbout;
}

.cv .container {
    background-color: $backgroundCv;
}

.projects .container {
    background-color: $backgroundProjects;
}

footer .container {
    background-color: $backgroundFooter;
}

.btn {
    visibility: hidden;
    padding-top: 60px;
    a {
        height: auto;
        border: 1px solid black;
        @include border-radius(5px);
        padding: 20px 30px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #000;
    }
}

.intro {
    text-transform: uppercase;
    letter-spacing: 3px;
    h1 {
        font-size: 40px;
        font-weight: 100;
        margin: 5px 0px;
    }
    h2 {
        font-size: 16px;
        font-weight: 100;
        text-align: center;
        visibility: hidden;
        &:hover {
            color: $backgroundMyWork2;
        }
    }
}

.about_me {
    width: 60vw;
    display: flex;
    align-items: center;
}

.button-container {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 40px;
    @include mobile {
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }
}

.contact {
    text-align: center;
    letter-spacing: 3px;
    h1 {
        text-transform: uppercase;
        font-size: 30px;
        margin: 5px 0px;
        font-weight: 100;
    }
    p {
        font-size: 18px;
        font-weight: 100;
        &:hover {
            color: $backgroundMyWork1;
        }
    }
}

.social-contact a {
    display: inline-block;
    color: #000;
    margin: 30px 10px 0 10px;
}