@import "prefixes";
@import "variables";
@import "title";
@import "projects";
@import "nav";


* {
    @include box-sizing(border-box);
}

body {
    margin: 0 auto;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header .container {
    background-color: $backgroundHeader;
}

.about .container {
    background-color: $backgroundAbout;
}

.cv .container {
    background-color: $backgroundCv;
}

.projects .container {
    background-color: $backgroundProjects;
}

footer .container {
    background-color: $backgroundFooter;
}

.btn {
    visibility: hidden;
    padding-top: 60px;
    a {
        height: auto;
        border: 1px solid black;
        @include border-radius(5px);
        padding: 20px 30px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #000;
    }
}

.intro {
    text-transform: uppercase;
    letter-spacing: 3px;
    h1 {
        font-size: 40px;
        font-weight: 100;
        margin: 5px 0px;
    }
    h2 {
        font-size: 16px;
        font-weight: 100;
        text-align: center;
        visibility: hidden;
        &:hover {
            color: $backgroundMyWork2;
        }
    }
}

.button-container {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 40px;
}
.cv-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.skills,
.education {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    height: 500px;
    padding: 100px;
    h4 {
        color: #3E3E3E;
    }
}
.cv-title {
    width: 30%;
    color: #E6E3E3;
    font-size: 60px;
}
.cv-list {
    display: inherit;
    width: 60%;
    color: #3E3E3E;
    h4 {
        font-size: 20px;
        margin: 5px 0;
        background: #E6E3E3;
    }
    
    p,
    ul {
        font-size: 16px;
    }
}
.cv-list-inline {
    width: 50%;
    display: inline-block;
    padding: 30px;
}
.about_me {
    width: 60vw;
    display: flex;
    flex-direction: row;
    p:first-of-type {
        text-align: center;
        padding-right: 30px;
    }
}
.contact {
    text-align: center;
    letter-spacing: 3px;
    h1 {
        text-transform: uppercase;
        font-size: 30px;
        margin: 5px 0px;
        font-weight: 100;
    }
    
    p {
        font-size: 18px;
        font-weight: 100;
        &:hover {
            color: $backgroundMyWork1;
        }
    }  
}

.social-contact a{
        display: inline-block;
        color: #000;
        margin: 30px 10px 0 10px;
    
    }


